%h3= link_to "New Invitations", new_invitation_path 

%table
  %tr(id = "firstrow")
    %th
      Emails
    %th 
      Messages
  - @invitations.each do |invitation|
    %tr
      %td
        = invitation.email
      %td 
        = invitation.message